<div class="container">

    <div class="row main">

        <div class="col-sm-6 text-center left-side" id="vegasContaint">
            <img width="50px" class="text-center" height="50px" src="http://1.bp.blogspot.com/-eVU-VSMWhBA/Tjfyfhe4nAI/AAAAAAAApG4/81mKez5klzU/s1600/copos+e+ta%25C3%25A7as9.gif">

            <h1 class="purple">Easy<br>Festa</h1>
            <p class="purple">Nunca foi tão fácil e rápido organizar seu evento.</p>
            <br>
            <button routerLink="/conta/cadastrar" class="btn btn-lg btn-deep-purple">Cadastre-se já</button>

        </div>

        <div class="col-sm-6 right-side">
            <div class="text-center btn-deep-purple title-login">

                <fa name="sign-in"></fa> Login

            </div>


            <!--Form with header-->
            <form #loginForm="ngForm" class="form">

                <div class="text-xs-center" *ngIf="!usuario">
                    <button class="btn btn-lg btn-block btn-deep-purple-inverse" (click)="instanciarConsumidor()">
                        <fa name="shopping-bag"></fa>
                        Consumidor
                    </button>
                </div>

                <div class="text-xs-center" *ngIf="!usuario">
                    <button class="btn btn-lg margin-top-10 btn-block btn-deep-purple-inverse" (click)="instanciarFornecedor()">
                            <fa name="truck"></fa>
                            Fornecedor
                        </button>
                </div>

                <div *ngIf="usuario" class="alert alert-info btn-block">
                    <fa name="truck" *ngIf="usuario.constructor.name == 'Fornecedor'"></fa>
                    <fa name="shopping-bag" *ngIf="usuario.constructor.name == 'Consumidor'"></fa>
                    {{usuario.constructor.name}}
                    <fa name="window-close" class="pull-right text-danger" (click)="resetarPerfil();"></fa>

                </div>

                <div *ngIf="stausLogin && usuario" class="alert alert-danger btn-block">
                    <fa name="exclamation-circle"></fa>
                    Usuário ou senha incorretos.
                </div>


                <div class="form-group" *ngIf="usuario">
                    <input [(ngModel)]="usuario.email" type="text" name="email" class="form-control" placeholder="E-mail" required>

                </div>
                <br *ngIf="usuario">

                <div class="form-group" *ngIf="usuario">
                    <input [(ngModel)]="usuario.senha" type="password" name="senha" class="form-control" placeholder="Senha" required>

                </div>
                <br *ngIf="usuario">

                <div class="text-xs-center" *ngIf="usuario">
                    <button (click)="fazerLogin()" class="btn btn-block btn-deep-purple" [disabled]="!loginForm.form.valid">
                        <fa name="send"></fa>
                        Entrar
                    </button>
                </div>
                <br>

                <div class="font-14 text-center">Não tem uma conta? <br>
                    <a routerLink="/conta/cadastrar">Crie uma em menos de um minuto!</a>
                </div>

            </form>
            <!--/Form with header-->

        </div>
        <!--col-sm-6-->


    </div>
    <!--col-sm-8-->

</div>
<!--container-->