<!--Botão de cadastro de agendamentos-->
<button id="cadastrar" class="btn btn-warning pull-right" (click)="modalNovoAgendamento.show()">
    <fa name="calendar-plus-o"></fa>
    Cadastrar
</button>

<!--Calendário-->

<p-schedule [options]="calendarOptions" locale="pt-br" [events]="agendamentos" (onViewRender)="loadEvents($event)" (onDayClick)="handleDayClick($event)" (onEventClick)="handleEventClick($event)"></p-schedule>

<!--Modal de cadastro de agendamentos-->
<div class="modal fade" bsModal #modalNovoAgendamento="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">
                    <fa name="calendar"></fa>
                    Agendamento
                </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalNovoAgendamento.hide();resetarAgendamento();resetarStatus();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #agendamentoForm="ngForm">
                    <!--Mensagens para ação de salvar-->
                    <div *ngIf="statusGravacao == 1" class="alert alert-info" role="alert">
                        <fa name="spinner" animation="spin"></fa>
                        <span>Salvando...</span>
                    </div>
                    <div *ngIf="statusGravacao == 2" class="alert alert-success" role="alert">
                        <span>Agendamento salvo com sucesso.</span>
                        <fa class="pull-right" name="close" (click)="resetarStatus();"></fa>
                    </div>

                    <div *ngIf="statusGravacao == 3" class="alert alert-danger" role="alert">
                        <span>Erro ao salvar agendamento.</span>
                        <fa class="pull-right" name="close" (click)="resetarStatus();"></fa>
                    </div>

                    <!--Mensagens para ação de excluir-->
                    <div *ngIf="statusExclusao == 1" class="alert alert-danger" role="alert">
                        <fa name="spinner" animation="spin"></fa>
                        <span>Excluindo...</span>
                    </div>
                    <div *ngIf="statusExclusao == 2" class="alert alert-success" role="alert">
                        <span>Agendamento excluído com sucesso.</span>
                        <fa class="pull-right" name="close" (click)="resetarStatus();"></fa>
                    </div>

                    <div *ngIf="statusExclusao == 3" class="alert alert-danger" role="alert">
                        <span>Erro ao excluir agendamento.</span>
                        <fa class="pull-right" name="close" (click)="resetarStatus();"></fa>
                    </div>

                    <fieldset class="painel">

                        <div class="row">

                            <div class="form-group col-md-4">
                                <label class="control-label" for="titulo">Título</label>
                                <input [disabled]="agendamento.kind == 2" id="titulo" name="titulo" [(ngModel)]="agendamento.title" type="text" placeholder="Ex.: Buscar Álbum" class="form-control input-md" required>
                            </div>

                            <div class="form-group col-md-4">
                                <label class="control-label" for="data">Data</label>
                                <input [disabled]="agendamento.kind == 2" id="data" name="data" bsDatePicker [(ngModel)]="agendamento.start" type="text" placeholder="dd/mm/aaaa" class="form-control input-md" required>
                            </div>

                            <div class="form-group col-md-4">
                                <label class="control-label" for="horario">Horário</label>
                                <input [disabled]="agendamento.kind == 2" id="horario" name="horario" [textMask]="{mask:horarioMask}" type="text" [(ngModel)]="agendamento.time" placeholder="00:00" class="form-control input-md" required>
                            </div>

                            <div class="form-group col-md-12">
                                <label class="control-label" for="descricao">Descrição</label>
                                <div>
                                    <textarea [disabled]="agendamento.kind == 2" class="form-control" [(ngModel)]="agendamento.description" rows="5" id="descricao" name="descricao" required></textarea>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <!-- Button (Double) -->
                    <div class="form-group col-md-12">
                        <button id="canelar" name="canelar" class="btn btn-secondary" *ngIf="agendamento.kind != 2 && agendamento._id" (click)="modalNovoAgendamento.hide();resetarAgendamento();resetarStatus();">
                            <fa name="reply"></fa>
                            Voltar
                        </button>
                        <button id="remover" *ngIf="agendamento.kind != 2 && agendamento._id" name="remover" class="btn btn-danger" (click)="modalNovoAgendamento.hide();childModal.show();" [disabled]="false">
                            <fa name="trash"></fa>
                            Remover
                        </button>
                        <button id="salvar" name="salvar" class="btn btn-primary" (click)="salvarAgendamento();" *ngIf="agendamento.kind != 2" [disabled]="!agendamentoForm.form.valid">
                            <fa name="floppy-o"></fa>
                            Salvar
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de confirmação de exclusão -->
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <fa name="trash"></fa>
                <h5 class="modal-title pull-left">Remover Agendamento</h5>
                <button type="button" class="close pull-right" aria-label="Close" (click)="childModal.hide();modalNovoAgendamento.show();">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning" role="alert">
                    <span>Tem certeza que deseja excluir o agendamento {{agendamento.title}}?</span>

                </div>

            </div>
            <div class="modal-footer">
                <button id="remover" name="remover" class="btn btn-dark" (click)="childModal.hide();modalNovoAgendamento.show();" *ngIf="agendamento._id" [disabled]="false">
                    Não
                </button>
                <button id="remover" name="remover" class="btn btn-danger" (click)="childModal.hide();modalNovoAgendamento.show();removerAgendamento();" *ngIf="agendamento._id" [disabled]="false">
                    Sim
                </button>
            </div>
        </div>
    </div>
</div>