<ul class="navbar topnav">
    <li>
        <a routerLink="/home" routerLinkActive="active"> EasyFesta 
        </a>
    </li>


    <div class="pull-right">
        <li> <a href="#news"> Mensagens </a> </li>
        <li> <a href="#contact"> Contato </a> </li>

        <li>
            <a routerLink="/conta" routerLinkActive="active">
                <fa name="vcard"></fa> Perfil
            </a>
        </li>

        <li>
            <a routerLink="/login" (click)="fazerLogout()">
                <fa name="sign-out"></fa>Sair
            </a>
        </li>

    </div>
</ul>