<!DOCTYPE html>
<html>
<head>
  <title> Cadastro de Usuário :: EasyFesta </title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    body { padding-top:80px; }
  </style>
</head>
<body>
<div class="container">

  <div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Criar Conta </h1>

    <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <form action="/registrar" method="post">

      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" name="nome">
      </div>

      <div class="form-group">
        <label>E-mail</label>
        <input type="text" class="form-control" name="email">
      </div>
      <div class="form-group">
        <label>Senha</label>
        <input type="password" class="form-control" name="password">
      </div>

      <button type="submit" class="btn btn-warning btn-lg">Cadastrar</button>
    </form>

    <hr>

    <p> Já tem uma conta? <a href="/login">Entre</a></p>
    <p> Ou vá para <a href="http://localhost:4200/">home</a>.</p>

  </div>

</div>
</body>
</html>
