.list-group-item {
    background: transparent;
    color: black;
    cursor: pointer;
}

.list-group-item:hover:not(.active) {
    background: -moz-linear-gradient(272deg, #800080 0%, #000000 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #800080), color-stop(100%, #000000));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(272deg, #800080 0%, #000000 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(272deg, #800080 0%, #000000 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(272deg, #800080 0%, #000000 100%);
    /* ie10+ */
    background: linear-gradient(178deg, #800080 0%, #000000 100%);
    /* w3c */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#800080', endColorstr='#000000', GradientType=0);
    /* ie6-9 */
    color: white;
}

.list-group-item {
    background: white;
    border: 1px solid purple;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
}

.active {
    background: -moz-linear-gradient(272deg, #800080 0%, #000000 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #800080), color-stop(100%, #000000));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(272deg, #800080 0%, #000000 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(272deg, #800080 0%, #000000 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(272deg, #800080 0%, #000000 100%);
    /* ie10+ */
    background: linear-gradient(178deg, #800080 0%, #000000 100%);
    /* w3c */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#800080', endColorstr='#000000', GradientType=0);
    /* ie6-9 */
    border-width: 0px;
    color: white;
    font-weight: bold;
}