<div class="page-tittle">
    <div class="row">
        <div class="col-md-2">
            <fa name="shopping-cart"></fa> Compras
        </div>
        <!--div class="col-md-6">
            <input type="text" [(ngModel)]="pesquisa" (keyup)="pesquisarCompra()" class="form-control" placeholder="Pesquise aqui...">
        </div>

        <div class="col-md-2">
            <input type="date" [(ngModel)]="dataInicioPesquisa" (change)="pesquisarCompra()" class="form-control" placeholder="Data início">
        </div>

        <div class="col-md-2">
            <input type="date" [(ngModel)]="dataFimPesquisa" (change)="pesquisarCompra()" class="form-control" placeholder="Data fim">
        </div-->

    </div>
</div>

<div class="painel margin-top-10">
    <table class="table" *ngIf="compras.length">
        <thead>
            <tr>
                <th>#</th>
                <th>Data</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Status</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let compraFor of compras; let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{ compraFor.dataCompra | date: 'dd/MM/yyyy' }}</td>
                <td>{{ compraFor.informacoes }}</td>
                <td>{{ compraFor.quantidade }}</td>
                <td>
                    <span class="badge badge-info" *ngIf="compraFor.status == 1 && tipoPerfil == 'Consumidor'">Solicitação de compra enviada</span>
                    <span class="badge badge-info" *ngIf="compraFor.status == 1 && tipoPerfil == 'Fornecedor'">Solicitação de compra recebida</span>
                    <span class="badge badge-success" *ngIf="compraFor.status == 2">Contrato gerado</span>
                    <span class="badge badge-danger" *ngIf="compraFor.status == 3">Solicitação de conpra rejeitada</span>
                    <span class="badge badge-danger" *ngIf="compraFor.status == 4">Compra cancelada</span>
                    <span class="badge badge-primary" *ngIf="compraFor.status == 5">Quitada</span>
                </td>
                <td>

                    <button type="button" title="Classificar Anúncio" class="btn btn-sm btn-warning" routerLink="/anuncio/{{compraFor.anuncio}}/classificar" *ngIf="tipoPerfil == 'Consumidor' && compraFor.pagamentos.length">
                        <fa name="star-o"></fa>
                    </button>

                    <button type="button" title="Visualizar contrato" routerLink="/contrato/{{compraFor._id}}" *ngIf="compraFor.status != 3" class="btn btn-sm btn-primary">
                        <fa name="handshake-o"></fa>
                    </button>

                    <button type="button" title="Informar pagamento" class="btn btn-sm btn-success" (click)="prepararPagamento(compraFor);pagamentoModal.show();" *ngIf="tipoPerfil == 'Fornecedor' && compraFor.status !=3 && compraFor.status !=4 && compraFor.contrato && compraFor.contrato.status == 2">
                        <fa name="money"></fa>
                    </button>

                    <button type="button" title="Visualizar compra" class="btn btn-sm btn-dark" (click)="prepararContaParaManupulicao(compraFor); comprarModal.show();">
                        <fa name="eye"></fa>
                    </button>

                    <button type="button" title="Desistir da compra" class="btn btn-sm btn-danger" (click)="prepararDesistencia(compraFor); desistirModal.show();" *ngIf="tipoPerfil == 'Consumidor' && compraFor.status < 3">
                        <fa name="trash"></fa>
                    </button>
                </td>
            </tr>

        </tbody>
    </table>

</div>

<!--Modal de compras -->
<div class="modal fade" bsModal #comprarModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">
                    <fa name="shopping-cart"></fa> Visualizar Compra
                </h5>
                <button type="button" class="close pull-right" aria-label="Close" (click)="comprarModal.hide(); resetarCompra();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="page-tittle-small btn-block">
                    <fa name="shopping-cart"></fa>
                    Informações da Compra
                    <div class="pull-right">
                        <button type="button" routerLink="/contrato/{{compra._id}}" class="btn btn-sm btn-primary" *ngIf="compra.status == 1 && tipoPerfil == 'Fornecedor'">
                            <fa name="handshake-o"></fa>
                            Gerar Contrato
                        </button>
                        <button type="button" class="btn btn-sm btn-danger" (click)="rejeiarCompra();" *ngIf="compra.status == 1 && tipoPerfil == 'Fornecedor'">
                            <fa name="close"></fa>
                            Rejeitar Compra
                        </button>
                    </div>
                </div>
                <div class="painel margin-top-10">

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label bold" for="status">Status</label>
                            <div>
                                <span class="badge badge-info" *ngIf="compra.status == 1 && tipoPerfil == 'Consumidor'">Solicitação de compra enviada</span>
                                <span class="badge badge-info" *ngIf="compra.status == 1 && tipoPerfil == 'Fornecedor'">Solicitação de compra recebida</span>
                                <span class="badge badge-success" *ngIf="compra.status == 2">Contrato gerado</span>
                                <span class="badge badge-danger" *ngIf="compra.status == 3">Solicitação de conpra rejeitada</span>
                                <span class="badge badge-danger" *ngIf="compra.status == 4">Compra cancelada</span>
                                <span class="badge badge-primary" *ngIf="compra.status == 5">Quitada</span>

                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label bold" for="quantidade">Quantidade</label>
                            <div>
                                {{compra.quantidade}}
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label bold" for="dataEvento">Data Evento</label>
                            <div>
                                {{compra.dataEvento | date: 'dd/MM/yyyy'}}
                            </div>
                        </div>


                        <div class="form-group col-md-12">
                            <label class="control-label bold" for="informacoes">Detalhes da Compra</label>
                            <div>
                                {{compra.informacoes}}
                            </div>
                        </div>

                        <div class="form-group col-md-12" *ngIf="compra.informacoesEvento">
                            <label class="control-label bold" for="informacoesEvento">Detalhes do Evento</label>
                            <div>
                                {{compra.informacoesEvento}}
                            </div>
                        </div>

                    </div>
                </div>

                <div class="page-tittle-small btn-block margin-top-10" *ngIf="tipoPerfil == 'Consumidor'">
                    <fa name="truck-o"></fa>
                    Informações do Fornecedor
                </div>

                <div class="page-tittle-small btn-block margin-top-10" *ngIf="tipoPerfil == 'Fornecedor'">
                    <fa name="user"></fa>
                    Informações do Consumidor
                </div>
                <div class="painel margin-top-10">

                    <div class="row">
                        <div class="form-group col-md-6" *ngIf="tipoPerfil == 'Consumidor'">
                            <label class="control-label bold">Fornecedor</label>
                            <div>
                                {{fornecedor.nome}}
                            </div>
                        </div>
                        <div class="form-group col-md-6" *ngIf="tipoPerfil == 'Consumidor'">
                            <label class="control-label bold">Contato</label>
                            <div>
                                {{fornecedor.telefone}}
                            </div>
                        </div>

                        <div class="form-group col-md-6" *ngIf="tipoPerfil == 'Fornecedor'">
                            <label class="control-label bold">Consumidor</label>
                            <div>
                                {{consumidor.nome}}
                            </div>
                        </div>
                        <div class="form-group col-md-6" *ngIf="tipoPerfil == 'Fornecedor'">
                            <label class="control-label bold">Contato</label>
                            <div>
                                {{consumidor.telefone}}
                            </div>
                        </div>

                    </div>
                </div>


                <div class="page-tittle-small btn-block margin-top-10">
                    <fa name="license-drivers-o"></fa>
                    Informações do Anúncio
                </div>
                <div class="painel margin-top-10">

                    <div class="row">

                        <div class="form-group col-md-6">
                            <label class="control-label bold">Título</label>
                            <div>
                                {{anuncio.titulo}}
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label bold">Descrição</label>
                            <div>
                                {{anuncio.descricao}}
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Modal de confirmação de desistência da compra -->
<div class="modal fade" bsModal #desistirModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">
                    <fa name="trash"></fa> Desistir da Compra
                </h5>
                <button type="button" class="close pull-right" aria-label="Close" (click)="desistirModal.hide()">
                          <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">
                    Tem certeza que deseja desistir da compra?
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="desistirModal.hide();">
                    Não
                </button>
                <button type="button" class="btn btn-dark" (click)="desistirCompra();desistirModal.hide();">
                    Sim
                </button>
            </div>
        </div>
    </div>
</div>

<!--Modal de pagamento -->
<div class="modal fade" bsModal #pagamentoModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">
                    <fa name="money"></fa> Informar Pagamento
                </h5>
                <button type="button" class="close pull-right" aria-label="Close" (click)="pagamentoModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="compra.contrato">
                <div class="page-tittle-small btn-block margin-top-10">
                    <fa name="money"></fa>
                    Situação Atual
                </div>
                <div class="painel margin-top-10">
                    <form #pagamentoForm="ngForm">
                        <div class="row">

                            <div class="form-group col-md-3">
                                <label class="control-label bold">Valor do Contrato</label>
                                <div>
                                    {{compra.contrato.valor | currency:'BRL':'code'}}
                                </div>
                            </div>

                            <div class="form-group col-md-3">
                                <label class="control-label bold">Valor Pago</label>
                                <div>
                                    {{getTotalPago() | currency:'BRL':'code'}}
                                </div>
                            </div>

                            <div class="form-group col-md-3" *ngIf="(compra.contrato.valor - getTotalPago()) > 0 ">
                                <label class="control-label bold">Valor Restante</label>
                                <div>
                                    {{compra.contrato.valor - getTotalPago() | currency:'BRL':'code'}}
                                </div>
                            </div>

                            <div class="col-md-3" *ngIf="(compra.contrato.valor - getTotalPago()) > 0 ">
                                <label class="control-label bold">Pagamento</label>
                                <div class="input-group">
                                    <input type="number" min="0.01" max="{{compra.contrato.valor - getTotalPago()}}" [(ngModel)]="novoPagamento.valor" name="pagamento" class="form-control" placeholder="R$" required>

                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" tilte="Adicionar pagamento" type="button" (click)="adicionarPagamento();" [disabled]="!pagamentoForm.form.valid">
                                            <fa name="plus-circle"></fa>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="page-tittle-small btn-block margin-top-10" *ngIf="compra.pagamentos.length">
                    <fa name="money"></fa>
                    Pagamentos
                </div>

                <div class="painel margin-top-10" *ngIf="compra.pagamentos.length">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Data</th>
                                <th>Valor</th>
                                <th>Remover</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pagamento of compra.pagamentos; let i=index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{ pagamento.data | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ pagamento.valor | currency:'BRL':'code'}}</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-danger" (click)="compra.pagamentos.splice(i,1);">
                                        <fa name="trash"></fa>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="pagamentoModal.hide();">
                    <fa name="reply"></fa>
                    Voltar
                </button>
                <button type="button" class="btn btn-primary" (click)="salvarCompra();pagamentoModal.hide();">
                    <fa name="floppy-o"></fa>
                        Salvar
                </button>
            </div>
        </div>
    </div>
</div>