<div class="painel margin-top-10">
  <div class="col-md-12 row">

    <div class="col-md-8 left evt-title"> Meus eventos </div>

    <div class="col-md-2 right">
      <button class="btn btn-primary" type="button" routerLink="/evento/cadastrar">
        <fa name="plus-circle"></fa> Cadastrar Evento
      </button>
    </div>

  </div>

  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="row">

        <div class="input-group col-md-10">
          <input type="text" class="form-control" placeholder="Pesquise aqui">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button"> <fa name="search"></fa> </button>
          </span>
        </div>

      </div>
    </div>
  </div>

  <div class="row eventos-container margin-top-12">

    <div class="col-md-4" *ngFor="let evento of eventos; let i = index">
      <div class="card">
        <div class="card-body">

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h4 class="card-title"> {{evento.nome}} </h4>
            </li>
          </ul>

          <p> Tipo: {{ evento.tipo }}</p>
          <p> Total de <strong> {{ evento.convidados }} </strong> convidados </p>
          <small> Data: {{ evento.dataevento | date: 'dd/MM/yyyy'}} às {{ evento.hora }} horas</small>
          <hr>

          <p class="card-text">{{evento.desc}}</p>
          <div class="row">
            <!-- Button (Double) -->
            <div class="form-group col-md-12">
              <button name="editar" class="btn btn-docs" (click)="plugAndPlay(evento._id)">Edite</button>
              <button id="canelar" name="canelar" class="btn btn-danger" (click)="removerEvento(evento._id, i); staticModal.show();">Remover</button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-12 countEvt">
      <p class="text-center center col-md-10 alert alert-info"> Exibindo {{ eventos.length }} eventos </p>
    </div>

  </div>

  <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title pull-left">
            <fa name="floppy-o"></fa> Remover Evento
          </h5>
          <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-success" role="alert">
            Evento removido com sucesso!
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" aria-label="Close" (click)="staticModal.hide()">
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
