<div class="row">
    <div class="col-md-7">
        <div class="page-tittle-small">
            <fa name="calendar"></fa> Agenda
        </div>
        <div class="painel margin-top-10">
            <calendario></calendario>
        </div>

    </div>

    <div class="col-md-5">

        <div class="card text-center" *ngIf="anuncios.length">
            <div class="card-header">

            </div>
            <div class="card-block">
                <carousel>
                    <slide *ngFor="let anuncio of anuncios">
                        <img class="img-slide" src="https://static9.depositphotos.com/1000865/1075/i/950/depositphotos_10755201-stock-photo-crumpled-paper-background.jpg" alt="First slide">
                        <div class="carousel-caption">
                            <h4>{{anuncio.titulo.toUpperCase()}}</h4>
                            <p>
                                {{anuncio.descricao.substring(0,150)}}
                                <span *ngIf="anuncio.descricao.length > 150"> ...</span>
                            </p>
                        </div>
                    </slide>
                </carousel>
            </div>
            <div class="card-footer text-muted">

            </div>
        </div>

        <div class="page-tittle-small margin-top-10">
            <fa name="money"></fa> Fluxo de Caixa
        </div>
        <div class="painel margin-top-10">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>


    </div>

</div>