Agenda
<hr>
<!--Botão de cadastro de agendamentos-->
<button class="btn btn-warning pull-right" (click)="modalNovoAgendamento.show()">
    <fa name="calendar-plus-o"></fa>
    Cadastrar
</button>

<router-outlet></router-outlet>

<!--Modal de cadastro de agendamentos-->
<div class="modal fade" bsModal #modalNovoAgendamento="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">
                    <fa name="calendar-plus-o"></fa>
                    Cadastrar Agendamento
                </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalNovoAgendamento.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <fieldset class="painel">

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label" for="Título">Título</label>
                            <input id="Título" name="Título" type="text" placeholder="Ex.: Buscar Álbum" class="form-control input-md" required="yes">
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label" for="Título">Data</label>
                            <input id="data" name="data" type="text" placeholder="dd/mm/aaaa" class="form-control input-md" required="yes">
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label" for="Título">Horário</label>
                            <input id="horario" name="horario" type="text" placeholder="00:00" class="form-control input-md" required="yes">
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label" for="descricao">Descrição</label>
                            <div>
                                <textarea class="form-control" rows="5" id="descricao" name="descricao"></textarea>
                            </div>
                        </div>
                    </div>

                </fieldset>

            </div>
            <div class="modal-footer">
                <div class="row">
                    <!-- Button (Double) -->
                    <div class="form-group col-md-12">
                        <button id="salvar" name="salvar" class="btn btn-primary" (click)="modalNovoAgendamento.hide()">Salvar</button>
                        <button id="canelar" name="canelar" class="btn btn-danger" (click)="modalNovoAgendamento.hide()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>