<div class="page-tittle">
    <div class="row">
        <div class="col-md-2">
            <fa name="drivers-license-o"></fa> Anúncios
        </div>
        <div class="input-group col-md-8">
            <input type="text" class="form-control" placeholder="Pesquise aqui">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">
                <fa name="search"></fa>
              </button>
            </span>
        </div>

        <div class="col-md-2">

            <button class="btn btn-warning" type="button" routerLink="/anuncio/cadastrar">
                <fa name="plus-circle"></fa> Cadastrar
            </button>
        </div>
    </div>
</div>

<div class="painel margin-top-10">
    <div *ngIf="mostrarIconeCarregando" class="alert alert-info text-center">
        <h1>
            <fa name="spinner" animation="spin"></fa> Carregando
        </h1>
    </div>
    <div *ngIf="anuncios.length == 0 && !mostrarIconeCarregando" class="alert alert-info text-center">
        <h2>Nenhum anúncio cadastrado.</h2><br>
        <button class="btn btn-lg btn-warning" type="button" routerLink="/anuncio/cadastrar">
            <fa name="plus-circle"></fa> Clique Aqui Para Cadastrar
        </button>
    </div>

    <div *ngIf="!mostrarIconeCarregando" class="row margin-top-10">
        <div class="col-md-4" *ngFor="let anuncio of anuncios; let i = index">
            <div class="card bg-light text-center">
                <div class="card-header font-align-center">
                </div>
                <div class="card-body">

                    <h3 class="card-title">{{anuncio.titulo}}</h3>
                    <span *ngIf="anuncio.tipo==2">
                        (<fa name="signing"></fa>)
                        Serviço
                    </span>
                    <span *ngIf="anuncio.tipo==1">
                        (<fa name="gift"></fa>)
                        Produto
                    </span>
                    <span *ngIf="anuncio.publicado == true">
                        (<fa name="eye"></fa>)
                        Publicado
                    </span>
                    <span *ngIf="anuncio.publicado == false">
                        (<fa name="eye-slash"></fa>)
                        Não publicado
                    </span>

                    <p class="card-text">{{anuncio.descricao}}</p>
                    <rating class="margintop-10 font-size-20 rate" [(ngModel)]="rate" [max]="max" stateOn="fa fa-star" stateOff="fa fa-star-o"></rating>

                </div>
                <div class="card-footer">
                    <button id="editar" name="editar" class="btn btn-block btn-info" routerLink="/anuncio/{{anuncio._id}}/editar">Editar</button>
                    <button id="canelar" name="canelar" class="btn btn-block btn-danger" (click)="removerModal.show();confirmarRemocao(anuncio, i)">Remover</button>
                </div>
            </div>
        </div>
    </div>

</div>
<!--Modal de confirmação de remoção -->
<div class="modal fade" bsModal #removerModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">
                    <fa name="trash-o"></fa> Remover
                </h5>
                <button type="button" class="close pull-right" aria-label="Close" (click)="removerModal.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <div *ngIf="remocaoConfirmada" [ngClass]="{'alert': true, 'alert-success': !mensagem.erro, 'alert-danger': mensagem.erro}" role="alert">
                    <span>{{mensagem.texto}}</span>
                </div>
                <div *ngIf="!remocaoConfirmada" class="alert alert-warning" role="alert">
                    <span>Tem certeza que deseja remover o anuncio {{tituloAnuncioRemover}}?</span>
                </div>
            </div>
            <div class="modal-footer">
                <button *ngIf="!remocaoConfirmada" type="button" class="btn btn-info" (click)="removerModal.hide();limparVariaveisRemocao()">
                    Não
                </button>
                <button *ngIf="!remocaoConfirmada" type="button" class="btn btn-danger" (click)="removerAnuncio();">
                    Sim
                </button>
                <button *ngIf="remocaoConfirmada" type="button" class="btn btn-secondary" (click)="removerModal.hide();limparVariaveisRemocao();">
                    Voltar
                </button>
            </div>
        </div>
    </div>
</div>