<div class="page-tittle">
    <div class="row">
        <div class="col-md-2">
            <fa name="drivers-license-o"></fa> Anúncios
        </div>
        <div [ngClass]="{'col-md-8' : tipoPerfil == 'Consumidor', 'col-md-6' : tipoPerfil == 'Fornecedor'}">
            <input type="text" [(ngModel)]="pesquisa" (keyup)="pesquisarAnuncio()" class="form-control" placeholder="Pesquise aqui...">
        </div>
        <div class="col-md-2">
            <select class="form-control input-md" [(ngModel)]="segmentoPesquisa" (change)="pesquisarAnuncio()" name="segmentoPesquisa">
                <option value="0">Todos</option>
                <option value="1">Aniversário</option>
                <option value="2">Casamento</option>
                <option value="3">Corporativo</option>                        
                <option value="4">Debutante</option>
                <option value="5">Formatura</option>  
            </select>
        </div>

        <div class="col-md-2" *ngIf="tipoPerfil == 'Fornecedor'">
            <button class="btn btn-block btn-warning" type="button" routerLink="/anuncio/cadastrar">
                <fa name="plus-circle"></fa> Cadastrar
            </button>
        </div>
    </div>
</div>

<div class="painel margin-top-10">
    <div *ngIf="mostrarIconeCarregando" class="alert alert-info text-center">
        <h1>
            <fa name="spinner" animation="spin"></fa> Carregando
        </h1>
    </div>
    <div *ngIf="anuncios.length == 0 && !mostrarIconeCarregando" class="alert alert-info text-center">
        <h2>Nenhum anúncio encontrado.</h2><br>
        <button *ngIf="tipoPerfil == 'Fornecedor'" class="btn btn-lg btn-warning" type="button" routerLink="/anuncio/cadastrar">
            <fa name="plus-circle"></fa> Clique Aqui Para Cadastrar
        </button>
    </div>

    <div class="col-md-12" *ngIf="statusGravacaoCompra == 1">
        <span class="btn-block alert alert-info" role="alert">
                <fa name="spinner" animation="spin"></fa>
                Salvando solicitação de compra.
            </span>
    </div>

    <div class="col-md-12" *ngIf="statusGravacaoCompra == 2">
        <span class="btn-block alert alert-success" role="alert">
                Solicitação de compra salva com sucesso.
            </span>
    </div>

    <div class="col-md-12" *ngIf="statusGravacaoCompra == 3">
        <span class="btn-block alert alert-danger" role="alert">
                Erro ao salvar solicitação de compra.
            </span>
    </div>

    <div *ngIf="!mostrarIconeCarregando" class="card-columns margin-top-10">
        <div *ngFor="let anuncio of anuncios; let i = index">
            <div class="card bg-light text-center">
                <div class="card-header font-align-center">
                </div>
                <div class="card-body">

                    <h3 class="card-title">{{anuncio.titulo}}</h3>
                    <span *ngIf="anuncio.tipo==2">
                        (<fa name="signing"></fa>)
                        Serviço
                    </span>
                    <span *ngIf="anuncio.tipo==1">
                        (<fa name="gift"></fa>)
                        Produto
                    </span>
                    <span *ngIf="anuncio.publicado == true && tipoPerfil=='Fornecedor'">
                        (<fa name="eye"></fa>)
                        Publicado
                    </span>
                    <span *ngIf="anuncio.publicado == false">
                        (<fa name="eye-slash"></fa>)
                        Não publicado
                    </span>
                    <hr>
                    <rating *ngIf="anuncio.aprovacao" class="margintop-10 font-size-20 rate" [(ngModel)]="anuncio.avaliacaoFinal" [readonly]="true" [max]="max" stateOn="fa fa-star" stateOff="fa fa-star-o"></rating>

                    <span class="text-danger bold btn-block" *ngIf="anuncio.aprovacao > 0 && anuncio.aprovacao <= 33">                        
                        <fa name="thumbs-o-down"></fa>                        
                        <small>{{anuncio.aprovacao}}% dos consumidores comprariam novamente.</small>
                    </span>
                    <span class="text-warning bold btn-block" *ngIf="anuncio.aprovacao > 33 && anuncio.aprovacao <= 66">
                        <small> {{anuncio.aprovacao}}% dos consumidores comprariam novamente.</small>
                    </span>
                    <span class="text-success bold btn-block" *ngIf="anuncio.aprovacao > 66">
                        <fa name="thumbs-o-up"></fa>
                        <small>{{anuncio.aprovacao}}% dos consumidores comprariam novamente.</small>
                    </span>

                    <hr *ngIf="anuncio.aprovacao">
                    <p class="card-text">{{anuncio.descricao}}</p>

                </div>
                <div class="card-footer">
                    <button *ngIf="anuncio.avaliacoes.length" id="visualizar" name="visualizar" class="btn btn-block btn-secondary" (click)="visualizarAnuncio(i);visualizarAnuncioModal.show();">
                        <fa name="eye"></fa>
                        Mais Detalhes
                    </button>
                    <button *ngIf="tipoPerfil == 'Consumidor'" id="comprar" name="comprar" class="btn btn-block btn-success" (click)="prepararCompra(anuncio);comprarModal.show();">
                        <fa name="shopping-cart"></fa>
                        Comprar
                    </button>

                    <button *ngIf="tipoPerfil == 'Fornecedor'" id="editar" name="editar" class="btn btn-block btn-secondary" routerLink="/anuncio/{{anuncio._id}}/editar">
                        <fa name="edit"></fa>
                        Editar
                    </button>
                    <button *ngIf="!anuncio.avaliacoes.length && tipoPerfil == 'Fornecedor'" id="remover" name="remover" class="btn btn-block btn-danger" (click)="removerModal.show();confirmarRemocao(anuncio, i)">
                        <fa name="trash"></fa>
                        Remover
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<!--Modal de confirmação de remoção -->
<div class="modal fade" bsModal #removerModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">
                    <fa name="trash-o"></fa> Remover
                </h5>
                <button type="button" class="close pull-right" aria-label="Close" (click)="removerModal.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <div *ngIf="remocaoConfirmada" [ngClass]="{'alert': true, 'alert-success': !mensagem.erro, 'alert-danger': mensagem.erro}" role="alert">
                    <span>{{mensagem.texto}}</span>
                </div>
                <div *ngIf="!remocaoConfirmada" class="alert alert-warning" role="alert">
                    <span>Tem certeza que deseja remover o anuncio {{tituloAnuncioRemover}}?</span>
                </div>
            </div>
            <div class="modal-footer">
                <button *ngIf="!remocaoConfirmada" type="button" class="btn btn-info" (click)="removerModal.hide();limparVariaveisRemocao()">
                    Não
                </button>
                <button *ngIf="!remocaoConfirmada" type="button" class="btn btn-danger" (click)="removerAnuncio();">
                    Sim
                </button>
                <button *ngIf="remocaoConfirmada" type="button" class="btn btn-secondary" (click)="removerModal.hide();limparVariaveisRemocao();">
                    Voltar
                </button>
            </div>
        </div>
    </div>
</div>

<!--Modal de visualizar anúncio -->
<div class="modal fade" bsModal #visualizarAnuncioModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">
                    <fa name="eye"></fa> Visualizar Anúncio
                </h5>
                <button type="button" class="close pull-right" aria-label="Close" (click)="visualizarAnuncioModal.hide()">
                          <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            <div class="modal-body">
                <visualizar-anuncio [anuncio]="anuncioVisualizado"></visualizar-anuncio>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" (click)="visualizarAnuncioModal.hide();">
                    Voltar
                </button>
            </div>
        </div>
    </div>
</div>

<!--Modal de compras -->
<div class="modal fade" bsModal #comprarModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">
                    <fa name="shopping-cart"></fa> Comprar
                </h5>
                <button type="button" class="close pull-right" aria-label="Close" (click)="comprarModal.hide()">
                          <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            <div class="modal-body">

                <form #comprarForm="ngForm" class="painel">
                    <div class="row">

                        <div class="form-group col-md-6">
                            <label class="control-label bold" for="quantidade">Quantidade</label>
                            <div>
                                <input id="quantidade" [(ngModel)]="compra.quantidade" name="quantidade" type="number" [min]="1" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label bold" for="dataEvento">Data Evento.</label>
                            <div>
                                <input id="dataEvento" [(ngModel)]="compra.dataEvento" name="dataEvento" type="date" [min]="0.01" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label bold" for="informacoes">Detalhes da Compra</label>
                            <div>
                                <textarea id="informacoes" rows="4" [(ngModel)]="compra.informacoes" name="informacoes" type="text" class="form-control" required></textarea>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label bold" for="informacoesEvento">Detalhes do Evento</label>
                            <div>
                                <textarea id="informacoesEvento" rows="4" [(ngModel)]="compra.informacoesEvento" name="informacoesEvento" type="text" class="form-control"></textarea>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button *ngIf="true" type="button" class="btn btn-dark" (click)="comprarModal.hide();">
                    Voltar
                </button>
                <button *ngIf="true" type="button" class="btn btn-primary" (click)="salvarCompra();comprarModal.hide();" [disabled]="!comprarForm.form.valid">
                    Salvar
                </button>

            </div>
        </div>
    </div>
</div>