<div class="page-tittle">
    <div class="row">
        <div class="col-md-2">
            <fa name="drivers-license-o"></fa> Anúncios
        </div>
        <div class="input-group col-md-8">
            <input type="text" class="form-control" placeholder="Pesquise aqui">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">
                <fa name="search"></fa>
              </button>
            </span>
        </div>

        <div class="col-md-2">

            <button class="btn btn-warning" type="button" routerLink="/anuncio/cadastrar">
                <fa name="plus-circle"></fa> Cadastrar
            </button>
        </div>
    </div>
</div>

<div class="painel margin-top-10">
    <div class="row">
        <div class="col-md-12">
            <div class="row">

            </div>
            <!--/nav-->
        </div>
    </div>

    <div class="row margin-top-10">
        <div class="col-md-4" *ngFor="let anuncio of anuncios; let i = index">
            <div class="card bg-light">
                <div class="card-header font-align-center">
                    <rating class="margintop-10 font-size-20" [(ngModel)]="rate" [max]="max" stateOn="fa fa-star" stateOff="fa fa-star-o"></rating>
                </div>
                <div class="card-body">

                    <p class="card-title">{{anuncio.titulo}}</p>
                    <p class="card-text">{{anuncio.descricao}}</p>

                </div>
                <div class="card-footer">
                    <button id="salvar" name="salvar" class="btn btn-block btn-primary">Salvar</button>
                    <button id="canelar" name="canelar" class="btn btn-block btn-danger" (click)="removerAnuncio(anuncio._id, i)">Remover</button>
                </div>
            </div>
        </div>
    </div>

</div>