<div class="card-profile hovercard">
    <div class="card-background">
        <img class="card-bkimg" alt="" src="https://st.depositphotos.com/2172801/2491/v/450/depositphotos_24912867-stock-video-futuristic-video-animation-with-stripe.jpg">
    </div>
    <div class="useravatar">
        <img alt="" src="http://lorempixel.com/100/100/people/9/">
    </div>

</div>

<div class="col-md-12 tarja">
    <div class="card-info"> <span class="card-title">Nome</span>
    </div>
</div>

<div class="painel-profile">

</div>