.card-header {
    background-image: url("https://www.casasofia.com.br/cdn/imagens/produtos/original/tecido-decoracao-acores-dohler-22052799d585cb03b93b28e1ff6d4d58.jpg");
}

.card-footer {
    background-image: url("https://www.casasofia.com.br/cdn/imagens/produtos/original/tecido-decoracao-acores-dohler-22052799d585cb03b93b28e1ff6d4d58.jpg");
}

.card-block {
    padding: 10px;
}

.rate {
    color: #BDBD14;
}

.page-tittle-small {
    background-color: #ECD3EC;
}