<div class="page-tittle">
    <fa name="plus-circle"></fa>
    Cadastrar Anúncio
</div>

<fieldset class="painel margin-top-10">
    <div class="row">
        <div class="form-group col-md-4">
            <label class="control-label bold" for="Título">Título</label>
            <div>
                <input id="Título" [(ngModel)]="novoAnuncio.titulo" name="Título" type="text" placeholder="Ex.: Filmagem" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Multiple Radios (inline) -->
        <div class="form-group col-md-3">
            <label class="control-label bold" for="categoria">Tipo</label>
            <br>
            <input type="radio" name="tipo" [(ngModel)]="novoAnuncio.tipo" btnRadio=1 checked>Produto &nbsp;&nbsp;
            <input type="radio" name="tipo" [(ngModel)]="novoAnuncio.tipo" btnRadio=2>Serviço &nbsp;&nbsp;
        </div>

        <!-- Multiple Radios (inline) -->
        <div class="form-group col-md-3">
            <label class="control-label bold" for="publicado">Publicado</label>
            <br>
            <input type="radio" name="publicado" [(ngModel)]="novoAnuncio.publicado" btnRadio=true checked>Sim &nbsp;&nbsp;
            <input type="radio" name="publicado" [(ngModel)]="novoAnuncio.publicado" btnRadio=false>Não
        </div>

        <!-- Textarea -->
        <div class="form-group col-md-12">
            <label class="control-label bold" for="descricao">Descrição</label>
            <div>
                <textarea [(ngModel)]="novoAnuncio.descricao" class="form-control" rows="5" id="descricao" name="descricao"></textarea>
            </div>
        </div>
    </div>

</fieldset>

<div class="row margin-top-10">
    <!-- Button (Double) -->
    <div class="form-group col-md-12">
        <div class="painel">
            <button id="salvar" name="salvar" class="btn btn-primary" (click)="adicionarAnuncio();staticModal.show()">Salvar</button>
            <button id="canelar" name="canelar" class="btn btn-danger" routerLink="/anuncio/listar">Cancelar</button>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">
                    <fa name="floppy-o"></fa> Cadastro
                </h5>
                <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" role="alert">
                    Anúncio salvo com sucesso!
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" routerLink="/anuncio/listar">
                        Ok
                    </button>
            </div>
        </div>
    </div>
</div>