<div class="page-tittle" *ngIf="paginaAtual == 'cadastrar'">

    <fa name="plus-circle"></fa> Cadastrar Evento

</div>

<div class="page-tittle" *ngIf="paginaAtual == 'editar'">

    <fa name="edit"></fa> Editar Evento

</div>

<div class="painel margin-top-10">
    <fieldset class="new-evt">

        <form #eventoForm="ngForm">
            <div class="row">
                <div class="col-md-12">
                    <label class="btn-block bold page-tittle-small">
                        <fa name="exclamation-circle"></fa>
                        Informações Gerais
                      </label>
                </div>

                <div class="form-group col-md-3">
                    <label class="control-label bold" for="nome">Nome</label>
                    <div>
                        <input id="nome" [(ngModel)]="novoEvento.nome" name="nome" type="text" placeholder="Festa de 15 anos" class="form-control" required>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label class="control-label bold" for="segmento">Segmento</label>
                    <select class="form-control input-md" required (change)="anunciosSugeridos = filtrarAnuncios();" [(ngModel)]="novoEvento.segmento" name="segmento">
                          <option value="1">Aniversário</option>
                          <option value="2">Casamento</option>
                          <option value="3">Corporativo</option>                        
                          <option value="4">Debutante</option>
                          <option value="5">Formatura</option>  
                      </select>
                </div>

                <div class="form-group col-md-2">
                    <label class="control-label bold" for="dataevento">Data</label>
                    <div flex-gt-xs>

                        <input type="text" bsDatepicker [(ngModel)]="novoEvento.dataevento" class="form-control input-group-sm" [bsConfig]="bsConfig" name="dataevento" id="dataevento" required>
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <label class="control-label bold" for="hora">Horário</label>
                    <div>
                        <input id="hora" [(ngModel)]="novoEvento.hora" [textMask]="{mask:horarioMask}" name="hora" type="text" placeholder="20h30" class="form-control input-md" required>
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <label class="control-label bold" for="convidados">Num. Convidados </label>
                    <div>
                        <input id="convidados" [(ngModel)]="novoEvento.convidados" name="convidados" type="number" class="form-control input-md" required>
                    </div>
                </div>

                <!-- Textarea -->
                <div class="form-group col-md-12">
                    <label class="control-label bold" for="descricao">Descrição</label>
                    <div>
                        <textarea [(ngModel)]="novoEvento.desc" class="form-control" rows="5" id="descricao" name="descricao" required></textarea>
                    </div>
                </div>

                <div class="col-md-12 text-center" *ngIf="calcularValorEvento();">
                    <span class="btn-block bold alert alert-info">
                            <img class="pull-left inverse" src="http://www.sistemaautomotivo.com.br/Content/Imagens/ico_box_registradora.png" height="50px" width="50px">
                            <h3>{{ calcularValorEvento() | currency:'BRL':'code' }}</h3>
                        </span>
                </div>

                <div class="col-md-8">
                    <div class="row">


                        <!-- Tabela de produtos -->
                        <div class="col-md-12 margin-top-10">
                            <label class="control-label btn-block bold page-tittle-small">
                        <fa name="shopping-cart"></fa>
                        Produtos
                        <button id="cadastrarProduto" name="cadastrarProduto" (click)="operacao = 'Adicionar';produtoModal.show()" class="btn btn-sm btn-warning pull-right">
                          <fa name="plus-circle"></fa>
                          Adicionar
                        </button> 
                      </label>
                            <table class="table" *ngIf="novoEvento.produtos.length">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nome</th>
                                        <th>Descrição</th>
                                        <th>Preço Unitário</th>
                                        <th>Quantidade</th>
                                        <th>Total</th>
                                        <th>Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let produto of novoEvento.produtos; let i=index">
                                        <th scope="row">{{i+1}}</th>
                                        <td>{{ produto.nome }}</td>
                                        <td>{{ produto.descricao }}</td>
                                        <td>{{ produto.preco | currency:'BRL':'code' }}</td>
                                        <td>{{ produto.quantidade }}</td>
                                        <td>{{ produto.quantidade * produto.preco | currency:'BRL':'code'}}</td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-dark" (click)="editarProduto(i);produtoModal.show();">
                                      <fa name="edit"></fa>
                                    </button>
                                            <button type="button" class="btn btn-sm btn-danger" (click)="removerProduto(i)">
                                        <fa name="trash"></fa>
                                      </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Tabela de serviços -->
                        <div class="col-md-12 margin-top-10">
                            <label class="control-label btn-block bold page-tittle-small">
                        <fa name="signing"></fa>
                        Serviços
                        <button id="cadastrarProduto" name="cadastrarProduto" (click)="operacao = 'Adicionar';servicoModal.show();" class="btn btn-sm btn-warning pull-right">
                            <fa name="plus-circle"></fa>
                            Adicionar
                          </button>
                      </label>
                            <table class="table" *ngIf="novoEvento.servicos.length">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nome</th>
                                        <th>Descrição</th>
                                        <th>Total</th>
                                        <th>Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let servico of novoEvento.servicos; let i=index">
                                        <th scope="row">{{i+1}}</th>
                                        <td>{{ servico.nome }}</td>
                                        <td>{{ servico.descricao }}</td>
                                        <td>{{ servico.preco | currency:'BRL':'code' }}</td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-dark" (click)="editarServico(i);servicoModal.show();">
                                        <fa name="edit"></fa>
                                      </button>
                                            <button type="button" class="btn btn-sm btn-danger" (click)="removerServico(i)">
                                          <fa name="trash"></fa>
                                        </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="card text-center" *ngIf="anunciosSugeridos.length" routerLink="/anuncio/listar">
                        <div class="card-header">

                        </div>
                        <div class="card-block">
                            <carousel>
                                <slide *ngFor="let anuncio of anunciosSugeridos">
                                    <img class="img-slide" src="https://static9.depositphotos.com/1000865/1075/i/950/depositphotos_10755201-stock-photo-crumpled-paper-background.jpg" alt="First slide">
                                    <div class="carousel-caption">
                                        <h5>{{anuncio.titulo.toUpperCase()}}</h5>
                                        <p>
                                            {{anuncio.descricao.substring(0,100)}}
                                            <span *ngIf="anuncio.descricao.length > 150"> ...</span>
                                        </p>
                                    </div>
                                </slide>
                            </carousel>
                        </div>
                        <div class="card-footer text-muted">

                        </div>
                    </div>
                </div>



            </div>
        </form>

    </fieldset>
</div>

<div class="row margin-top-10">
    <div class="col-md-6">
        <button id="canelar" name="canelar" class="btn btn-block btn-secondary" routerLink="/evento/listar">
                <fa name="reply"></fa>
                Voltar
              </button>
    </div>
    <div class="col-md-6">
        <button id="salvar" name="salvar" class="btn btn-block btn-primary" (click)="salvarEvento();staticModal.show()" [disabled]="!eventoForm.form.valid">
                <fa name="floppy-o"></fa>
                Salvar
              </button>
    </div>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">
                    <fa name="floppy-o"></fa> Novo Evento
                </h5>
                <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" role="alert">
                    Evento {{ novoEvento.nome }} salvo com sucesso!
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" routerLink="/evento/listar">
      Ok
    </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de adição de produtos -->
<div class="modal fade" bsModal #produtoModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">
                    <span>
                        <fa name="plus-circle" *ngIf="operacao == 'Adicionar'"></fa>
                        <fa name="edit" *ngIf="operacao == 'Editar'"></fa>
                        {{operacao}} Produto
                    </span>
                </h5>
                <button type="button" class="close pull-right" aria-label="Close" (click)="produtoModal.hide(); resetarStatusAdicaoProduto();resetarProduto();">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form #produtoForm="ngForm" class="painel">
                    <div class="row">

                        <div class="col-md-12" *ngIf="produtoAdicionado">
                            <span class="btn-block alert alert-success" role="alert">
                              Produto salvo com sucesso!
                            </span>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label bold" for="nome">Nome</label>
                            <div>
                                <input id="nome" [(ngModel)]="novoProduto.nome" name="nome" type="text" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label bold" for="preco">Preço Unit.</label>
                            <div>
                                <input id="preco" [(ngModel)]="novoProduto.preco" name="preco" type="number" [min]="0.01" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label bold" for="quantidade">Quantidade</label>
                            <div>
                                <input id="quantidade" [(ngModel)]="novoProduto.quantidade" name="quantidade" type="number" [min]="1" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label bold" for="descricao">Descrição</label>
                            <div>
                                <textarea id="descricao" [(ngModel)]="novoProduto.descricao" name="descricao" type="text" class="form-control" required></textarea>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="produtoModal.hide(); resetarStatusAdicaoProduto();resetarProduto();">
                  Voltar
                </button>
                <button type="button" class="btn btn-primary" *ngIf="operacao == 'Adicionar'" (click)="adicionarProduto();" [disabled]="!produtoForm.form.valid">
                  Salvar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de adição de serviços -->
<div class="modal fade" bsModal #servicoModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">
                    <span *ngIf="true">
                        <fa name="plus-circle" *ngIf="operacao == 'Adicionar'"></fa>
                        <fa name="edit" *ngIf="operacao == 'Editar'"></fa>
                        {{operacao}} Serviço
                    </span>
                </h5>
                <button type="button" class="close pull-right" aria-label="Close" (click)="servicoModal.hide(); resetarStatusAdicaoServico();resetarServico();">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form #servicoForm="ngForm" class="painel">
                    <div class="row">

                        <div class="col-md-12" *ngIf="servicoAdicionado">
                            <span class="btn-block alert alert-success" role="alert">
                              Serviço salvo com sucesso!
                            </span>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label bold" for="nome">Nome</label>
                            <div>
                                <input id="nome" [(ngModel)]="novoServico.nome" name="nome" type="text" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label bold" for="preco">Preço</label>
                            <div>
                                <input id="preco" [(ngModel)]="novoServico.preco" name="preco" type="number" [min]="0.01" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label bold" for="descricao">Descrição</label>
                            <div>
                                <textarea id="descricao" [(ngModel)]="novoServico.descricao" name="descricao" type="text" class="form-control" required></textarea>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="servicoModal.hide(); resetarServico();resetarStatusAdicaoProduto();">
                  Voltar
                </button>
                <button type="button" class="btn btn-primary" *ngIf="operacao == 'Adicionar'" (click)="adicionarServico();" [disabled]="!servicoForm.form.valid">
                  Salvar
                </button>
            </div>
        </div>
    </div>
</div>